.todoItem {
  background-color: #fafafa;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  border-radius: 8px;
  border: 1px solid rgb(196, 196, 196);
  /* box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15); */
}

.todoItem-p {
  display: flex;
  align-items: center;
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.todoItem-p--complete {
  text-decoration: line-through;
}

.icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  font-size: 24px;
  font-weight: bold;
 
}

.icon-check {
  position: absolute;
  left: 12px;
}
.icon-check--active {
  color: #4caf50;
}

.icon-delete {
  position: absolute;
  right: 12px;
}
.icon-delete:hover {
  color: red;
}
